<div class="card-wrapper">
  <div
    class="card"
    [routerLink]="['/product-details', product.id]"
    *ngFor="let product of products$ | async"
  >
    <h3 class="card-link">{{ product.name }}</h3>
    <p>Price: {{ product.price }}</p>
    <div class="card-buttons">
      <button
        (click)="notify()"
        class="card-button__notify"
        *ngIf="product.price > 35"
      >
        Notify
      </button>
      <app-alert [product]="product" (notify)="onNotify()"></app-alert>
    </div>
  </div>
</div>
