.card-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.card {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #772135;
  min-width: 250px;
  padding: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-link {
  margin: 10px 0;
}
.card-button__notify {
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  border: solid 1px transparent;
  background-color: #190;
  color: white;
  cursor: pointer;
}
.card-buttons {
  margin-top: 20px;
}
