.nav-bar {
  padding: 30px;
  background-color: #189;
  display: flex;
  justify-content: space-around;
}
.cart {
  padding: 15px;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 5px;
  color: white;
  background-color: #a25;
}

.nav-bar h1 a {
  text-decoration: none;
  color: #246;
}
